body {
  background-image: url(background.jpg);
  background-size: cover;
}
header {
  border: 5px solid yellow;
  text-align: center;
  color: rgba(0, 0, 0, 0.624);
}
form {
  border: 5px solid red;
}
